.authorWrapper {
  margin-left: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authorImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.authorName {
  font-weight: 600;
  font-size: 1.1rem;
}
