.wrapper {
  margin: 0;
}
.authorCol {
  max-width: inherit !important;
}

.imageOnlyAuthorRow {
  display: flex;
  flex-flow: row wrap;
}

.imageOnlyAuthorCol {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.authorWrapper {
  display: flex;
  gap: 10px;
  padding: 0;
  .avatar__name {
    span {
      font-weight: 600 !important;
    }
  }
}
