# See https://github.com/git/git/blob/master/Documentation/mailmap.txt for syntax
#vinoth's uber email and personal email mapping to apache
<vinoth@apache.org> <vinoth@uber.com>
<vinoth@apache.org> <vinoth@bytearray.io>
# Prasanna's uber email mapping to active email
<prasanna.raj@gmail.com> <prasanna@uber.com>
