/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgba(7, 159, 202, 255);
  --ifm-color-primary-dark: rgba(10, 159, 202, 255);
  --ifm-color-primary-darker: rgba(0,78,127,255);
  --ifm-color-primary-darkest: rgba(0,55,103,255);
  --ifm-color-primary-light: rgba(4, 159, 202, 255);
  --ifm-color-primary-lighter: rgba(0, 183, 246, 255);
  --ifm-color-primary-lightest: rgba(215, 228, 238, 255);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 5rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-github-link:before {
  background: url(/assets/images/github.png) no-repeat;
  content: "";
  display: flex;
  height: 30px;
  width: 30px;
  
}

@media (max-width: 767px) {
  .hero__img, .header-github-link, .header-slack-link, .header-twitter-link {
    display: none;
  }
  .hero__title {
    font-size: 3em !important;
    max-width: fit-content;
  }
  .button--lg {
    --ifm-button-size-multiplier: 1;
  }
}

@media only screen and (max-width: 1460px){
  .navbar__item {
    font-size: 0.65em !important;
  }
  

}
@media only screen and (max-width: 1250px){
  .navbar__item {
    font-size: 0.6em !important;
    padding: 5px;
  }
  

}

@media only screen and (max-width: 1055px){
  .navbar__item {
    font-size: 0.5em !important;
    padding: 5px;
  }
  

}


.header-twitter-link:before {
  background: url(/assets/images/twitter.png) no-repeat;
  content: "";
  display: flex;
  height: 30px;
  width: 30px;
}

.header-slack-link:before {
  background: url(/assets/images/slack.png) no-repeat;
  content: "";
  display: flex;
  height: 30px;
  width: 30px;
}

.hero__title {
  font-size: 4rem;
  text-align: left;
  width: 70rem;
}

.hero__subtitle {
  text-align: left;
}

.buttons_src-pages-index-module {
  justify-content: left !important;
}

.hero__img {
  max-width: 35%;
  float: left;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2rem;
}

.button.button--secondary {
  margin-top: 1rem;
  margin-right: 2rem;
}

.buttons_irzW {
  justify-content: left !important;
}

.profile-pic {
  max-width: 7rem;
}

.navbar__logo {
  height: 130%;
}

.data-lake h2, .hudi-feature h2 {
  display: block;
  font-size: 2.5em;
  margin-block-start: 1.75em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

.data-lake .sub-title {
  text-align: center;
}

table.features {
  display: inline-table;
  border-collapse: separate;
  margin-top: 2em;
}

table.features td {
  vertical-align: middle;
  padding: 2em;
  background: white;
}

table.features i.feather {
  margin: 1em;
}

.hudi-feature-item table td {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #ceeef7;
}

footer .container {
  margin-block-start: 1.83em;
}

.blog-wrapper .container {
  max-width: 100%;
  
}

.who-uses {
  display: inline-block;
  width: 240px;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 1.1em;
  text-align: center;
}

.blog-wrapper aside {
  --ifm-col-width: 16.6667% !important;
}

.blog-wrapper main {
  --ifm-col-width: 66.6667% !important;
  max-width: var(--ifm-col-width);
  flex: 0 0 var(--ifm-col-width);
}

.blogThumbnail {
  height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
}

.blogThumbnail img {
  height:100%;
  width: auto;
}
.tagRegular_node_modules-\@docusaurus-theme-classic-lib-next-theme-Tag-styles-module{
  color:black
}
.authorTimeTags_src-theme-BlogPostItem-styles-module {
  vertical-align:text-top;
}


.blog-list-page article {
  display: inline-flex;
  width: 45%;
 
  margin: 1.2em;
  vertical-align: text-top;
  
  
  
}
@media(max-width:1391px){
  .blog-list-page article {
    display: inline-flex;
    width: 80%;
    margin: 1.2em;
    vertical-align: bottom;
  }
}


@media only screen and (max-width: 815px) {
  .blog-list-page article {
    display: flex;
    width: 100%;
    margin: 1.2em;
  }
}

.blog-post-page .blogPostTitle_src-theme-BlogPostItem-styles-module {
  font-size: 3rem;
}

.blogPostTitle_src-theme-BlogPostItem-styles-module{
  display:inline;
  overflow: hidden;
  vertical-align: text-top;
  
}

h1.blogPostTitle_src-theme-BlogPostItem-styles-module{
  height:10%;
  overflow:hidden;
}




