.iconLanguage {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.globeIcon {
  margin-left: 5.5px;
}

.wrapper {
  display: flex;
  align-items: center;
  &:hover {
    path {
      stroke: var(--ifm-navbar-link-hover-color);
    }
  }
  &:after {
    display: none !important;
  }
}
