# CSP permissions for hudi.apache.org - https://issues.apache.org/jira/browse/INFRA-27242
# Ref https://docs.kapa.ai/integrations/understanding-csp-cors
SetEnv CSP_PROJECT_DOMAINS "https://*.kapa.ai/ https://kapa-widget-proxy-la7dkmplpq-uc.a.run.app https://www.google.com/recaptcha/ https://hcaptcha.com https://*.hcaptcha.com"
