.wrapper {
  width: 100%;
  padding: 100px 0;
}
.cardsWrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
  margin-top: 60px;
}
.whyHudiTitle {
  text-align: center;
  margin-bottom: 10px;
}

.textWrapper {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.textWrapper > div {
  max-width: 720px;
  color: var(--ifm-blue-900);
  font-weight: 400 !important;
  font-size: 18px;
  font-family: var(--ifm-heading-font-family);
}

@media screen and (max-width: 992px) {
  .cardsWrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 600px) {
  .cardsWrapper {
    grid-template-columns: auto;
  }
}


@media (max-width: 767px) {
  .textWrapper > div {
    font-size: 16px !important;
  }

  .wrapper {
    width: 100%;
    padding: 100px 20px;
  }
}
