/*@import "../../css/custom.css";*/

.joinCommunityWrapper {
    background: var(--ifm-color-white);
    padding: 100px 0;
}
.communityContent {
    align-items: center;
    gap: 2%;
    margin: 0 auto;
}
.communityDescription {
    color: var(--ifm-blue-900);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}

.communityCardWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
}

.communityCardChildWrapper {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    align-items: center;
    gap:20px;
}

.communityCard {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}

.communityCard:hover{
    box-shadow: 0px 8px 18px 0px #082C541A;
    border-radius: 10px;
}

.mediaTitle {
    padding-top: 5px;
}
.title {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--ifm-blue-900);
    font-family: var(--ifm-font-family-base);
}
.linkText {
    display: flex;
    align-items: center;
    color: var(--ifm-color-primary-text);
    width: max-content;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
}

.leftSideWrapper {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .communityContent {
        grid-template-columns: auto;
    }
    .leftSideWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .communityDescription {
        text-align: center;
        font-family: var(--ifm-heading-font-family);
    }
    .communityCardChildWrapper {
        grid-template-columns: repeat(3,1fr) !important;
    }
}

@media only screen and (max-width: 600px) {
    .communityCardWrapper {
        gap: 0;
        padding: 15px;
    }

    .communityCardChildWrapper {
        grid-template-columns: repeat(2,1fr) !important;
    }

    .communityCard{
        box-shadow: 0px 8px 18px 0px #082C541A;
        border-radius: 10px;
    }
}

.socialLogo {
    height: 50px !important;
    width: 50px !important;
}

