/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

table {
  border-color: #1ab7ea !important;
}

.page a {
  color: #3b9cba !important;
}

.page__content {
  font-size: 18px;
}

.page__content.releases {
  font-size: 18px;
}

.page__footer {
  font-size: 15px !important;
}

.page__footer a {
  color: #3b9cba !important;
}

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    font-size: 0.8em !important;
  }
}

.page__content table {
  font-size: 0.8em !important;
}

.page__content table th {
  background-color: #ceeef7 !important;
}

.page__hero {
  &--overlay {
    position: relative;
    .wrapper {
      padding: 3em 2em 2em 2em !important;
    }
  }
}

.home-feature-item p:before {
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 8px;
  margin-top: 10px;
  display: block;
  float: left;
  background-color: #0091ff;
}

.home-feature-item {
  p {
    font-size: 18px;
    margin: 0.75em;
  }
}

.home-power-items {
  display: block;
  text-align: center;
  margin: 1.5em 1em 1em 1em;

  .power-item {
    display: inline-block;
    width: 210px;
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-bottom: 1.1em;
  }

}

.archive__item-title a {
  color: #3b9cba !important;
}






