/*@import "../../css/custom.css";*/

.featuresWrapper {
    background: var(--ifm-background-gray-50);
    padding: 100px 20px;
}
.titleWrapper {
    text-align: center;
    margin-bottom: 60px;
}
.wrapperContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.boxWrapper {
    background: var(--ifm-color-white);
    border-radius: 12px;
    padding: 25px;
}
.boxWrapper:hover {
    box-shadow: 0px 5px 12px 0px #06376D1A;
}

.featuresWrapper > div {
    padding: 0px !important;
}

.boxWrapper a {
    text-decoration: none;
    color: currentColor;
}

.iconWrapper {
    background: var(--ifm-color-icon-backgroung);
    border-radius: 8px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.iconWrapper svg{
    max-width: 50px;
    max-height: 50px;
}
.featuresTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--ifm-blue-900);
    margin: 0 0 10px;
    font-family: var(--ifm-heading-font-family);
}

.featuresSubTitle{
    font-weight: 400;
    font-size: 16px;
    color: var(--ifm-blue-900);
    font-family: var(--ifm-heading-font-family);
}

@media only screen and (max-width: 992px) {
    .wrapperContainer {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .wrapperContainer {
        grid-template-columns: auto;
    }

    .featuresTitle {
        font-size: 18px !important;
    }

    .featuresSubTitle{
        font-size: 14px !important;
    }
}

