.heroBanner {
    padding: 146px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heroImg {
    max-width: 345px;
    float: unset;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--ifm-color-gray-900);
}

.content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageWrapper {
    width: 50%;
}

.videoWrapper {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

#ytContainer {
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: center;
    background-image: url('images/yt_video_cover_placeholder.png');
    background-size: cover;
    width: 560px;
    height: 315px;
}

.heroTitle {
    font-size: 54px;
    width: unset;
    color: var(--ifm-blue-800);
    font-family: var(--ifm-font-family-base);
    margin: 0;
}

.textTm {
    font-size: 13px;
    line-height: 0;
    vertical-align: super;
    position: relative;
    top: -0.9rem;
}


.headlineWrapper {
    font-size: 54px;
    line-height: 67px;
    color: var(--ifm-blue-800);
    font-family: var(--ifm-font-family-base);
    font-weight: 700;
}

@media only screen and (max-width: 1165px) {
    .videoWrapper {
        width: 350px;
    }
    .heroTitle, .headlineWrapper {
        font-size: 44px !important;
    }
    .textTm {
        top: -0.6rem !important;
    }
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 100px 0;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    .textTm {
        top: -0.5rem !important;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .imageWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .videoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        order:1;
    }

    #ytContainer {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-image: url('images/yt_video_cover_placeholder.png');
        background-size: cover;
        width: 560px;
        height: 315px;
    }

    .leftContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order:2;
    }

    .heroTitle, .headlineWrapper {
        font-size: 40px !important;
        line-height: 50px !important;
    }

    .headlineWrapper {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .videoWrapper {
        width: 270px;
    }
    .buttons {
        flex-direction: column;
        width: 100%;
    }
    .textTm {
        font-size: 11px;
        top: -0.3rem !important;
    }

    .buttons a {
        width: 100% !important;
        text-align: center;
    }

    .heroTitle, .headlineWrapper {
        font-size: 32px !important;
        line-height: 40px !important;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.typingText {
    color: var(--ifm-blue-800);
    font-family: var(--ifm-font-family-base);
    font-weight: 700;
}
