.button {
    padding: 16px 24px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 0.75rem;
    transition: 0.3s;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--ifm-heading-font-family);
}

.button:hover {
    text-decoration: none;
}

.primary, .secondary {
    font-size: 18px !important;
}

.primary {
    background: var(--ifm-blue-500);
    color: var(--ifm-color-white);
    border: 2px solid var(--ifm-blue-500);
}

.primary:hover, .secondary {
    color: var(--ifm-color-white);
    background: var(--ifm-blue-600);
    border: 2px solid var(--ifm-blue-600);
}

.secondary {
    background: var(--ifm-color-white);
    border: 2px solid var(--ifm-blue-500);
    color: var(--ifm-blue-800);
}

.secondary:hover {
    color: var(--ifm-color-white);
    background: var(--ifm-blue-500);
    border: 2px solid transparent;
}
