.container {
  color: #1c1e21;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 2px;
}

.spacer {
  font-size: 35px;
  line-height: 28px;
}

.marker {
  margin-left: 30px;
  display: list-item;
}
