@media (max-width: 996px) {
  .toggle {
    display: none;
  }
}

.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.navbarSidebarToggle {
  margin-right: 1rem;
}

.navbarWrapper {
  padding-left: 80px !important;
  padding-right: 80px !important;
  box-shadow: 0px 2px 2px 0px #06376D14;
}

@media(min-width: 1300px) {
  div[class^="navbar__item"] {
    font-size: 100% !important;
  }
}
@media(max-width: 1350px) {
  .navbarWrapper {
    padding: 0 !important;
  }
}
