.eventWrapper {
  padding-bottom: 150px;
}

.eventContainer {
  padding: 30px 40px;
  border: 2px solid var(--ifmyellow-500);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #fff;
  background: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0px 9px 18px 0px #082C541C;
}
.eventContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.upcomingEventTitle {
  color: var(--ifm-blue-700);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  font-family: var(--ifm-font-family-base);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap:6px;
  align-items: center;
  text-align: center;
}

.title, .subTitle {
  font-weight: 700;
  color: var(--ifm-blue-800);
  margin: 0;
  font-family: var(--ifm-font-family-base);
}

.title {
  font-size: 24px;
}

.subTitle {
  font-size: 18px;
}

.timeText {
  font-weight: 400;
  color: var(--ifm-blue-900);
  font-size: 16px;
  margin: 0;
  font-family: var(--ifm-heading-font-family);
}

.rsvpTodayBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
