name: asf-site CI

on:
  push:
    branches: [ asf-site ]
  pull_request:
    branches: [ asf-site ]

jobs:
  hudi-asf-site-ci:
    name: "Apache Hudi asf-site CI"
    runs-on: ubuntu-latest
    env:
      DOCS_ROOT: "./website"
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - name: Check for files in content/
        if: github.event_name == 'pull_request'
        run: |
          echo "Changed files:"
          git fetch origin ${{ github.base_ref }}
          CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }} HEAD)

          echo "$CHANGED_FILES"

          if echo "$CHANGED_FILES" | grep -q '^content/'; then
            echo "❌ PR should not change files under content/; change the files under website/ instead."
            exit 1
          else
            echo "✅ No files under content/ directory."
          fi
      - name: Prepare branch
        run: |
          git config --global user.name "CI BOT"
          git config --global user.email "cibot@hudi.apache.org"
          git checkout -b pr
          git remote add hudi https://${{ secrets.GITHUB_TOKEN }}@github.com/apache/hudi.git
          git pull --rebase hudi asf-site
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: Build website
        run: |
          pushd ${{ env.DOCS_ROOT }}
          npm install
          npm run build
          popd
      - name: Publish website
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          echo "pushing build result ..."
          rm -rf content
          cp -R ${{ env.DOCS_ROOT }}/build content
          git add -A
          git commit -am "GitHub Actions build asf-site"
          git push hudi pr:asf-site
